automation-user-check-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "d0b8e05cefab4a2dbf421f0298a8d6d0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "7b4750d5-4cb6-46ca-bbed-f46576b651b5",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HkybKv0TRaJUs9EQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d6240a9d-a3b8-4022-9118-7d7f47ead4c2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appalBtXc15ycKjkO",
          "mode": "list",
          "cachedResultName": "nathan_orders",
          "cachedResultUrl": "https://airtable.com/appalBtXc15ycKjkO"
        },
        "table": {
          "__rl": true,
          "value": "tblFx82PRTe7obBko",
          "mode": "list",
          "cachedResultName": "sales_teams_data",
          "cachedResultUrl": "https://airtable.com/appalBtXc15ycKjkO/tblFx82PRTe7obBko"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        928,
        -96
      ],
      "id": "be5e75ee-2b1f-409d-99b9-7926486ceec3",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "EnO8Hi36dBz40z0F",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a0b2e1f-c7ab-4c3b-a7da-8d0dcabd6a0b",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "0841302a-df82-456e-9849-f7235c26a6fc",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31eddb94-dc10-460b-bc6d-d5b04b582a69",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "08efbc4e-7be4-45d9-95bc-5537b216fb92",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -96
      ],
      "id": "d12c72f8-d4b5-455f-8afd-429db0413152",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "4bf9b40c-6367-409f-8857-7625548dfe7e",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        96
      ],
      "id": "f047d60a-f9ec-4c2f-ac82-e97623e21b72",
      "name": "Discord",
      "webhookId": "f18ae98f-026e-4418-99d8-d3e4b4166fc9",
      "credentials": {
        "discordWebhookApi": {
          "id": "7LP8Y1bKL4Wl9rdS",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "084e4b07-dd57-4979-9933-578b70437a56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "decae42e8dbb24ed02c9482b9a8ab3276417f505789b6b7fdd9121e719d28107"
  },
  "id": "5g8PbJSOoPfLf16P",
  "tags": []
}